<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../img/favicon.png" />
  <title>Ditumpuk Game</title>
  <style>
    body {
      margin :0;
      padding:0;
    }

    #semua{
      position:absolute;
    }

    .img-container {
      text-align: center;
      display: block;
      padding-top:150px;
    }

    .img-container-2 {
      text-align: center;
      display: block;
      
    }
    
    #particles-js{
    height:100vh;
    background: rgb(117,188,220);
    background: linear-gradient(90deg, rgba(117,188,220,1) 0%, rgba(214,172,163,1) 50%, rgba(192,141,255,1) 100%);
  }
  </style>

</head>

<body>
  <!-- menambah particle -->
  <div id="particles-js">
    <div id="semua">
      <span class="img-container"> 
        <img style="width: 50%;" src="../img/judul.png" alt="">
      </span>
      <span class="img-container-2"> 
        <a href="/game"><img style="width:300px;" src="../img/mulaibaru.png" alt=""></a>
      </span>
      <span class="img-container-2"> 
        <a href="/instruksi"><img style="width:300px;" src="../img/caramain.png" alt=""></a>
      </span>
    </div>
    
  </div>
  <!-- source particle nya -->
  <script type="text/javascript" src="../particle/particles.js"></script>
  <script type="text/javascript" src="../particle/app.js"></script>

  <!-- sound -->
  <audio autoplay> 
    <source src= "../sound/awal.mp3" type="audio/mpeg ">  
  </audio> 
  <script>
    window.onload = function() {
      document.getElementById("my_audio").play();
    }
  </script>

</body>
</html>