<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <title>Ditumpuk Game</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <div id="score">0</div>
    <div id="game-over">
        <img style="width: 300px;" src="img/over.png" alt="">
        <!-- <br>Tekan 'ENTER'<br> -->
        <span class="img-container-2"> 
            <a href="javascript:void(0)" id="playagain"><img style="width:300px;" src="img/mainagain.png" alt=""></a>
            <a href="/start"><img style="width:300px;" src="img/menu.png" alt=""></a>
        </span>
    </div>
    <canvas id="c"></canvas>

    <script type="text/javascript" src="../build/bundle-master.js"></script>

    <audio id="my_audio" src="sound/ingame.mp3" loop="loop"></audio>
    <script>
        window.onload = function() {
        document.getElementById("my_audio").play();
      }
    </script>
    
</body>
</html>