<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <title>Ditumpuk Game</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div style="margin-top: 100px;">
        <span class="img-container-2"> 
            <a href="/start"><img style="width:300px;" src="img/single.png" alt=""></a>
            <a href="/start"><img style="width:300px;" src="img/multiple.png" alt=""></a>
        </span>
        <span style="margin-top: 40px;;" class="img-container-2"> 
            <a href="/start"><img style="width:300px;" src="../img/menu.png" alt=""></a>
          </span>
    </div>
</body>